@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



li{
  width: 100%;
  border-bottom: 2px solid rgba(214, 214, 214, 0.297);
  padding: 5px 4px;
  border-radius: 5px;

  &:hover {
  cursor: pointer;
  background: #6c6c6c5f;
  }
}

.img1{
  background-image: url(./assets/Products/krops/New-Jordan/jordan1.jpg);
  background-size: cover;
  

  &:hover{
    animation: changeImg ease-in-out 4s ;
  }
}

@keyframes changeImg {
  0%{
    background-image: url(./assets/Products/krops/New-Jordan/jordan1.jpg);
  }
  25%{
    background-image: url(./assets/Products/krops/New-Jordan/jordan2.jpg);
  }
  50%{
    background-image: url(./assets/Products/krops/New-Jordan/jordan3.jpg);
  }
  75%{
    background-image: url(./assets/Products/krops/New-Jordan/jordan4.jpg);
  }
  100%{
    background-image: url(./assets/Products/krops/New-Jordan/jordan1.jpg);
  }
}


.img2{
  background-image: url(./assets/Products/krops/Khoffashi/photo_5850537483937365902_y.jpg);
  background-size: cover;
  

  &:hover{
    animation: changeImg2 ease-in-out 3s ;
  }
}

@keyframes changeImg2 {
  0%{
    background-image: url(./assets/Products/krops/Khoffashi/photo_5850537483937365902_y.jpg);
  }
  50%{
    background-image: url(./assets/Products/krops/Khoffashi/photo_5850537483937365903_y.jpg);
  }
  100%{
    background-image: url(./assets/Products/krops/Khoffashi/photo_5850537483937365902_y.jpg);
  }
}


.img3{
  background-image: url(./assets/Products/krops/Kimono/photo_5850537483937365908_y.jpg);
  background-size: cover;
  

  &:hover{
    
  }
}




/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff7700d8;
  border-radius: 10px;
  transition: all 1.2s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@layer base {
  @font-face {
    font-family: 'iranyekan';
    src: url(./Fonts/iranyekan.ttf) format('truetype')
  }
}
@layer base {
  @font-face {
    font-family: 'iranyekanBold';
    src:url(./Fonts/iranyekanwebbold.ttf) format('truetype')
  }
}
@layer base {
  @font-face {
    font-family: 'iranyekanLight';
    src:url(./Fonts/iranyekanweblight.ttf) format('truetype')
  }
}
@layer base {
  @font-face {
    font-family: 'jalayar';
    src:url(./Fonts/TKT-jalayer\ Regular.otf) format('opentype')
  }
}
@layer base {
  @font-face {
    font-family: 'jalayarBold';
    src:url(./Fonts/TKT-jalayer\ Bold.otf) format('opentype')
  }
}
@layer base {
  @font-face {
    font-family: 'jalayarMedium';
    src:url(./Fonts/TKT-jalayer\ Medium.otf) format('opentype')
  }
}